*
!*.*
!/**/
*.ppu
*.o
*.a
backup
lib
*.exe
*.dll
*.dbg
*.lps
tools/*
/.project
*.trace
testresults.txt
*.dbg
.oxtemp
*.compiled
*.res
*.app
.DS_Store
*.dSYM
.oxproject/session.dvar
test_data
*.test
.vscode
*.cap
oxprojectdefines.inc
*.lpi
*.log
*.dbg
