*
!*.*
!/**/
*.ppu
*.o
*.a
*.exe
*.dll
*.dbg
*.lps
*.trace
testresults.txt
*.dbg
*.compiled
*.res
*.app
*.dSYM
test_data
*.test
*.cap
oxprojectdefines.inc
*.lpi
*.log
*.dbg
*.ypk

backup
lib
build/user.config
tools/*
/.project
.oxsession/
.oxtemp/
android_project/
.vs/
.DS_Store
.vscode
build/build.config
