## fpcandroid config
## last update:      03.11.2014.

## android units
-FuC:\fpc\android\units\arm-android\rtl
-FuC:\fpc\android\units\arm-android\*
-FuC:\programming\oxcart\android\units

## external libraries

#ifdef cpuarm
-FlC:\programming\android\ndk\platforms\android-4\arch-arm\usr\lib
-Parm
#endif
#ifdef cpu386
-FlC:\programming\android\ndk\platforms\android-4\arch-x86\usr\lib
#endif
-FLlibdl.so

## target configuration

-Tandroid
-dANDROID

#include c:\fpc\android\bin\x86_64-win64\fpc.cfg
